@model HYE_BOX.Models.DataModel

@{
    ViewBag.Title = "Create";
}


<script type="text/javascript" src="https://form.jotform.me/jsform/91305884802459"></script>
<div style="position:static; background-color:white">
    
</div>