@{
    ViewBag.Title = "Home Page";
}
<style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: 'Advent Pro', sans-serif;
        }

        text {
            font-size: x-large;
        }

        h1 {
            font-weight: bold;
        }

        .slider {
            width: 500px;
            margin: 2em auto;
            height: 340px;
        }

        .slider-wrapper {
            width: 100%;
            height: 340px;
            position: relative;
        }

        .slide {
            float: left;
            position: absolute;
            width: 100%;
            height: 400px;
            opacity: 0;
            transition: opacity 3s linear;
            overflow:hidden;
        }

        .slider-wrapper > .slide:first-child {
            opacity: 1;
        }

        button {
            margin-top:23.5%;
            position: fixed;
            background-color: #ffce1c;
            border: hidden;
            height: 65px;
            width: 95px;
            font-family: 'Advent Pro', sans-serif;
            border-radius: 25px;
            cursor:pointer;
        }
    </style>
<script>
    (function () {

        function Slideshow(element) {
            this.el = document.querySelector(element);
            this.init();
        }

        Slideshow.prototype = {
            init: function () {
                this.wrapper = this.el.querySelector(".slider-wrapper");
                this.slides = this.el.querySelectorAll(".slide");
                this.previous = this.el.querySelector(".slider-previous");
                this.next = this.el.querySelector(".slider-next");
                this.index = 0;
                this.total = this.slides.length;
                this.timer = null;

                this.action();
                this.stopStart();
            },
            _slideTo: function (slide) {
                var currentSlide = this.slides[slide];
                currentSlide.style.opacity = 1;

                for (var i = 0; i < this.slides.length; i++) {
                    var slide = this.slides[i];
                    if (slide !== currentSlide) {
                        slide.style.opacity = 0;
                    }
                }
            },
            action: function () {
                var self = this;
                self.timer = setInterval(function () {
                    self.index++;
                    if (self.index == self.slides.length) {
                        self.index = 0;
                    }
                    self._slideTo(self.index);

                }, 3500);
            },
            stopStart: function () {
                var self = this;
                self.el.addEventListener("mouseover", function () {
                    clearInterval(self.timer);
                    self.timer = null;

                }, false);
                self.el.addEventListener("mouseout", function () {
                    self.action();

                }, false);
            }


        };

        document.addEventListener("DOMContentLoaded", function () {

            var slider = new Slideshow("#main-slider");

        });


    })();</script>
<head>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
</head>
<container id="Intro">
    <div style="margin-left:400px">
        <img src="https://i.ibb.co/LQjHqm2/Asset-1.png" alt="pic-1" style=" height:300px;" />
    </div>
</container>
<container id="boxes">
    <div style="width:50%; float:left;">
        <h1>How It Works? </h1>
        <div style="margin-left:40px">
            <h1>Themes.</h1>
            <text>Our cultural boxes have monthly themese: from Fairy tales to our Heroes.</text>
        </div>
        <div style="margin-left:80px">
            <h1 style="font-weight:bold">Delivered Monthly.</h1>
            <text style="font-size:x-large">Your themed box will be delivered during the month.</text>
        </div>
        <div style="margin-left:120px">
            <h1>Discover Armenia! </h1>
            <text>You will discover Armenia with your kid in new and fun way.</text>
        </div>
    </div>
    <div style="width:50%; height:90%; float:right; margin-top:-8px;  ">
        <div class="slider" id="main-slider">
            <div class="slider-wrapper">
                <img src="https://i.ibb.co/dGrtYGQ/IMG-0067.jpg" alt="First" class="slide" />
                <img src="https://i.ibb.co/ZJNBtDz/IMG-0080.jpg" alt="Second" class="slide" />
                <img src="https://i.ibb.co/724G8Q4/IMG-0086.jpg" alt="Third" class="slide" />
                <img src="https://i.ibb.co/n8sMByp/Box-post1.png" alt="Foure" class="slide" />
                <img src="https://i.ibb.co/nsHBBh7/IMG-0119.jpg" alt="Five" class="slide" />
            </div>
        </div>
    </div>

</container>
<footer  class="btn-default">
    <button onclick="window.location.href='http://localhost:52040/Home/About'">
        <text>Learn More</text>
    </button>
</footer>